@{
    ViewBag.Title = "Home Page";
}
</br>
</br>
</br>
</br>
<div class="jumbotron">
    <h1>Assentamento Online</h1>
    <center>
    <p class="lead">Sistema de Gerenciamento de Visitas.</p>
       </center>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mantenha o contato</h2>
        <p>
            Sempre mantenha contato com seus clientes!
        </p>
     
    </div>
    <div class="col-md-4">
        <h2>Salve suas Visitas</h2>
        <p>Sempre registre no sistema todas as visitas diarias</p>
     
    </div>
   
</div>